.card{


  .conteudo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;




      background-color: white;
      width: 215px;
      height: 158px;
      border-radius: 12px;
      margin: 10px 80px;




    .cores {
      width: 55px;
      height: 55px;
      border-radius: 8px;
    }

    .titulo{
      font-weight: 700;
      font-size: 14px;
    }

    .subtitulo{
      font-weight: 400;
      font-size: 14px;
    }



    }

}