.card{


  .conteudo{
      background-color: white;
      width: 215px;
      height: 158px;
      border-radius: 12px;
      margin-top: 223px;
      margin-left: 80px;


    .cores {
      width: 55px;
      height: 55px;
      border-radius: 8px;

      .laranja {
        background-color: #ffce37;
      }
      
      .verde {
        background-color: #b3ff37;
      }
      
      .azul-ciano {
        background-color: #37fff3;
      }
      
      .azul {
        background-color: #37b7ff;
      }
      
      .rosa {
        background-color: #cb37ff;
      }
      
      .vermelho {
        background-color: #ff5b37;
      }
      
      .verde-ciano {
        background-color: #37ffab;
      }
      
      .preto {
        background-color: #151515;
      }
      
      .cinza {
        background-color: #d0d0d0;
      }
      
      .marrom {
        background-color: #b75333;
      }
      
      .roxo {
        background-color: #6533b7;
      }
      
      .amarelo {
        background-color: #ffce37;
    }
    }

    .titulo{
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .subtitulo{
      font-weight: 400;
      font-size: 14px;
    }



    }

}